<!--this xml configuration-->
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--    <bean id="alien" class="org.example.Alien" scope="prototype"></bean>-->
    <bean id="alien" class="org.example.Alien" autowire="byType" >
        <property name="age" value="21"></property>
        <property name="com">
            <bean id="com" class="org.example.Laptop" primary="true" ></bean>
        </property>
<!--        <constructor-arg value="21" />-->
<!--        <constructor-arg type="org.example.Laptop" ref="laptop" />-->
<!--        <constructor-arg type="int" value="21" />-->
<!--        <constructor-arg name="age" value="21" />-->
<!--        <constructor-arg name="lap" ref="laptop" />-->
<!--        <constructor-arg name="salary" value="2100" />-->
    </bean>

    <bean id="com" class="org.example.Laptop" primary="true" ></bean>
    <bean id="com1" class="org.example.Desktop" lazy-init="true"></bean>

</beans>